/**
 * Base
 *
 * @description
 *
 */

@import 'fonts';
@import 'typography';
@import 'animations';
@import 'shadows';




html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  &.drivers,
  &.constructors,
  &.races,
  &.overview {
    background-color: #f3f3f3;
  }
}




/*  Twitter Bootstrap
–––––––––––––––––––––––––––––––––––––––––––––––––– */


//  Reset and dependencies
// ------------------------------

@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print';


//  Core CSS
// ------------------------------

@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons';


//  Utility classes
// ------------------------------

@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';

/*  End Twitter Bootstrap –––––––––––––––––––––––– */
